.slick-prev::before, .slick-next::before{
    display: none;
}
.home_slider .slick-prev{
    background: transparent;
    background-size: 30px;
    left: 0;
    z-index: 99 !important;
    width: 40px;
    height: 100%;
    transform: none !important;
    top: 0;
    -webkit-transition: 0.2s all ease-in-out !important;

    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 100%;
        background: url(../slider/images/left-arrow.png) no-repeat center center;
        z-index: -1;
    }

    &:hover{
        background: linear-gradient(90deg, #000, transparent);
    }
}
.home_slider .slick-next{
    background-size: 30px;
    right: 0;
    z-index: 99;
    width: 40px;
    height: 100%;
    transform: none !important;
    top: 0;
    -webkit-transition: 0.2s all ease-in-out !important;

    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 100%;
        background: url(../slider/images/right-arrow.png) no-repeat center center;
        z-index: -1;
    }

    &:hover{
        background: linear-gradient(-90deg, #000, transparent);
    }
}